.AddTransactionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-transaction-page-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.arrow-icon {
  margin-right: 5%;
}
