.category-card {
  width: 25vw;
  height: 25vw;
  box-sizing: border-box;
  background: linear-gradient(#dd5e89, #f7bb97);
  border-radius: 10px;
  box-shadow: rgba(black, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category-icon {
  font-size: 36px;
}
.category-card-title {
  font-size: small;
}
.miniature-card {
  margin: 5px;
  padding: 2px;
  width: auto;
  height: 70px;
  font-size: 6px;
  background: transparent;
  border: solid 2px white;
}
.small-icon {
  font-size: 20px;
}
