.expense-form {
  margin-top: 4vh;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-info {
  width: 90%;
  height: 60vh;
  margin: 0 5%;
  border-radius: 5%;
  background: linear-gradient(#dd5e89, #f7bb97);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.labels {
  flex: 1;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.label {
  text-align: end;
  height: 30px;
  display: flex;
  align-items: flex-start;
}
.inputs {
  flex: 2;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.transaction-type-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.transaction-button {
  margin-left: 2%;
  padding: 3px 10px;
  border: solid 2px white;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 20px;
}
.selected-button {
  border: solid 3px #2c2d39;
  box-shadow: 2px 2px #2c2d3985;
}

.add-button {
  width: 40%;
  font-size: 28px;
  margin-top: 4vh;
  text-align: center;
  border: solid 2px white;
  color: white;
  background-color: #2c2d39;
  border-radius: 20px;
}
