.small-container {
  margin-top: 0vh;
  margin-bottom: 2.5vh;
  margin-left: 2%;
  margin-right: 2%;
  background-color: #2c2d39;
  padding-top: 2vh;
  padding-bottom: 3vh;
}
.small-container-title {
  margin-left: 5%;
  margin-right: 5%;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;
}
.small-container-info-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.swiper {
  width: 90%;
  margin: auto;
}
