.small-container {
  max-height: 30vh;
  margin: 15px 2%;
  background-color: #2c2d39;
  padding: 3vh 0;
}
.small-container-title {
  margin: 0 5%;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.small-container-info-holder {
  height: 70%;
  margin: 2% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.transactions-holder {
  height: 25vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
}
