.header-container-transactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.transaction-card-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.transaction-card {
  margin-bottom: 2vh;
  display: flex;
  background-color: #f7bb97;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(black, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px,
    inset rgba(white, 0.5) 0 0 0 6px;
}
.transaction-category {
  flex: 1;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.material-icons.md-24 {
  font-size: 24;
}
.material-icons.md-24.dark {
  color: #2c2d39;
}
.transaction-info {
  flex: 4;
  border-right: solid 2px #2c2d39;
  border-left: solid 2px #2c2d39;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.transaction-name {
  font-size: 15px;
}
.transaction-payment-method {
  font-size: 8px;
  color: #2c2d39;
}
.transaction-amount-income {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(245, 78, 78);
  font-weight: 600;
}
.transaction-amount-expense {
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(71, 109, 0);
  font-weight: 600;
}
